In [1]:
import pandas as pd
from geopy.geocoders import Nominatim
geolocator = Nominatim()

C:\Users\phili\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.20.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  This is separate from the ipykernel package so we can avoid doing imports until

In [2]:
df = pd.read_csv(r"C:\Users\phili\Desktop\ABnB_Data.csv")

In [3]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,10/19/2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,5/21/2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,7/5/2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,11/19/2018,0.10,1,0

In [4]:
New_Data = df[['id','name','host_id','host_name','price','latitude','longitude']]
New_Data.set_index('id').head()

,name,host_id,host_name,price,latitude,longitude
id,,,,,,
2539,Clean & quiet apt home by the park,2787,John,149,40.64749,-73.97237
2595,Skylit Midtown Castle,2845,Jennifer,225,40.75362,-73.98377
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,150,40.80902,-73.94190
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,89,40.68514,-73.95976
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,80,40.79851,-73.94399

In [5]:
New_Data["Long + Lat"] =  New_Data["latitude"].map(str) + "," +" " + New_Data["longitude"].map(str)
New_Data.head()

#  = dataframe["Year"].map(str) + dataframe["quarter"]

C:\Users\phili\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,id,name,host_id,host_name,price,latitude,longitude,Long + Lat
0,2539,Clean & quiet apt home by the park,2787,John,149,40.64749,-73.97237,"40.647490000000005, -73.97237"
1,2595,Skylit Midtown Castle,2845,Jennifer,225,40.75362,-73.98377,"40.75362, -73.98376999999999"
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,150,40.80902,-73.94190,"40.809020000000004, -73.9419"
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,89,40.68514,-73.95976,"40.685140000000004, -73.95976"
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,80,40.79851,-73.94399,"40.79851, -73.94399"

In [ ]:
New_Data.head()

In [13]:
borough = []
loc = New_Data['Long + Lat']
for l in loc:
    sub = str(geolocator.reverse(l))
    borough.append(sub.split(', ')[2])

GeocoderQuotaExceeded: HTTP Error 429: Too Many Requests

In [ ]:
borough